@import "tailwindcss";


@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui" {
  themes: light --default;
 }
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #632EE3;
  --color-secondary: teal;
}

:root {
  --primary: #0ea5e9;
  --muted: #64748b;
}

/* small helpers */
.container { max-width: 1100px; margin: 0 auto; padding: 1rem; }
.btn { @apply inline-flex items-center justify-center px-4 py-2 rounded-md border; }
.btn-primary { background: var(--primary); color: white; border: none; }
.input { @apply border rounded-md p-2 w-full; }
.card { @apply bg-white rounded-lg shadow p-4; }